<title>Hello world!</title>
<header>
    <nav>
        <ul>
            <li><a href="/" class="nav-link">WeatherInfo</a></li>
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/weather" class="nav-link">Weather</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        background-color: #777777;
        color: #fff;
        padding: 10px;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

    .nav-link {
        text-decoration: none;
        color: #fff;
    }
</style>
